@font-face{
    font-family: 'puppy';
    src: url('../fonte/Apple Juice Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}

html{
  scroll-behavior: smooth;
}

body{
  max-width: 100vw;
}

div#centro > h1{
    font-size: 8vw;
    color: white;
    font-family: 'puppy';
}
div#background{
    background-image: url('../gato2.jpg');
    width: 98vw;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

}
div#centro{
    margin: 230px 0px 70px 200px;
    color: #fff;
}
article{
    padding-top: 10px;
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
article > a{
    margin: 0px 50px 0px 50px;
    font-size: 15pt;
    color: white;
    text-decoration: none;
}
article > a:hover{
    text-decoration: underline;
}

#link-denuncia{
  background-color: red;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 300px;
  right: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.bola{ 
  background-color: rgb(255, 174, 0);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  scroll-behavior:smooth;
} 

.bola img{
  width: 30px;
  height: 30px;

}

.seta{
  background-color: red;
  position: absolute;
  height: 10px;
  width: 10px;
  top: 300px;
  right: 30px;
}

#triangulo-para-direita {
  position: absolute;
  top: 303px;
  right: 20px;
  width: 0; 
  height: 0; 
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid red;
}

div#pets{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding-top: 70px;
}
div#pets > div > h2{
    font-size: 70pt;
}
img.imgpq{
    height: 600px;
    background-size: cover;
    background-position: center top;
    border-radius: 30px;
    margin-right: 500px;
}
div#petstexto{
    margin-top: 100px;
    margin-left: 450px;
}

/* eu n sabia fazer mas to aprendendo*/
body {
  margin: 0;  
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  max-height: 100vh;
  max-width: 100vw;
}

/* Configuração dos slides*/
.number-slide1 {
  width: 100vw;
  display: flex;
  background-color: #fff;
}
.number-slide1 > div > h2 {
  font-size: 5vw;
  color: black;
  margin-right: 70px;

}
.number-slide1 > div > p {
  font-size: 1vw;
  color: black;
  margin-right: 70px;
  padding-bottom: 190px;

}
.number-slide1 > div > img{
  border-radius: 50px;
  height: 600px;
  
}


.number-slide2 {
  width: 100vw;
  display: flex;
  background-color: #fff;
}
.number-slide2 > div > h2 {
  font-size: 5vw;
  color: black;
  margin-right: 70px;
}
.number-slide2 > div > p {
  font-size: 1vw;
  color: black;
  margin-right: 70px;
  padding-bottom: 190px;
}
.number-slide2 > div > img{
  border-radius: 50px;
  height: 600px;
  
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
  fill: "#fff";
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--right {
  left: auto;
  right: 5px;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--left {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z' %3E%3C/path%3E%3C/svg%3E");
}

.arrow--disabled.arrow--right {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='grey' viewBox='0 0 24 24' %3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'%3E%3C/path%3E%3C/svg%3E");
}

/* é issssssssssssssssssssssssssssssssssssssssssssssssso */

div#companheiro{
  margin-top: 50px;
  background-image: url(../humilde.png);
  height: 600px;
  width: 98vw;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

div#companheiro > h2{
  color: rgba(0, 0, 0, 0.644);
  font-size: 50pt;
  width: 20px;
  margin-left: 10vw;
  padding-top: 100px;
}

div#back{
  background-image: linear-gradient(to right, #edecea,  #f4f4f2);
  z-index: 1;
}
div#denuncia{
  z-index: 10;
  margin-top: 50px;
  background-image: url(../doacao.jpg);
  height: 600px;
  width: 98vw;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 80%;
}


div#denuncia > h2{
  color: rgb(255, 0, 0);
  font-size: 50pt;
  width: 20px;
  margin-left: 10vw;
  padding-top: 100px;
}